# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
runme

# No more traj
input/traj/dump-liq.lammpstrj
input/traj/dump.lammpstrj
input/traj/dump-8*
#Ignore output folder
output/
# Crazy tramp
:*
