# branches:
#   only:
#     - master
jobs:
  include:
    - name: getCoverage
      language: nix
      install:
        - nix-env -i lcov
      script:
        # - nix-build .
        - nix-shell --pure --run ./scripts/mkCoverage.sh
        - bash <(curl -s https://codecov.io/bash) -f shellBuild/coverage.info.cleaned || echo "Codecov did not collect coverage reports"
      cache: nix
    - name: runCachix
      if: branch = master
      language: nix
      install:
        - nix-env -i lcov
        - "nix-env -iA cachix -f https://cachix.org/api/v1/install"
      script:
        - cachix use dseams
        - then cachix push dseams --watch-store&
        - nix-build .
        - sleep 30s # wait for the cachix push to complete
      cache: nix
    - name: docBuilder
      if: branch = master
      language: python
      python: "3.6"
      before_install:
        - cp scripts/ci/texlive.profile $HOME/texlive.profile
      install:
        - "pip install jinja2 Pygments conan"
        - source ./scripts/ci/texlive_install.sh
      addons:
        apt:
          packages:
            - doxygen
      cache:
        directories:
          - /tmp/texlive
          - $HOME/.texlive
          - $HOME/.cache/pipenv
          - /nix/
      before_script:
        - git clone https://github.com/mosra/m.css.git
      script:
        - ./m.css/documentation/doxygen.py Doxyfile-mcss
        - find docs/ -type f -name "*" -print0 | xargs -0 sed -i '' -e 's/>Pages</>Wiki</g' || true
      deploy:
        provider: pages
        edge: true
        cleanup: false
        local_dir: docs/html
        github_token: $GH_REPO_TOKEN
        on:
          branch: master
